/* ajustes de pagina y elementos */
html, body {
    font-family: "Poppins", serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
main {
    flex: 1;
    padding: 1.5rem;
}
#content {
    flex: 1;
}
a {
    text-decoration: none;
}
/* barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 2.5vw;
    height: 4.06rem;
    position: relative;
    max-width: 25vw;
    width: 80%;
    margin: auto;
}
.logo_navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav_left, .nav_right {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    gap: 1.875rem;
}
.nav_left {
    right: 60%;
}
.nav_right {
    left: 60%;
}
/* pie de pagina */
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 1.875rem;
    height: 1.25rem;
}
/* ajustes para textos (tamaños, grosores y colores) */
.text_size_big {
    font-size: 1.125rem;
}
.text_size_medium {
    font-size: 0.9375rem;
}
.text_size_small {
    font-size: 0.8125rem;
}
.text_weight_bold {
    font-weight: 700;
}
.text_weight_medium {
    font-weight: 500;
}
.text_weight_light {
    font-weight: 300;
}
.text_color_dark {
    color: #333;
}
.text_color_light {
    color: #f4f4f4;
}
.text_color_primary {
    color: #0066ff;
}
/* Diseño responsive */
@media screen and (max-width: 48rem) { /* 768px ≈ 48rem */
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 0.625rem; /* 10px ≈ 0.625rem */
    }
    .nav_left, .nav_right {
        position: static;
        justify-content: center;
        gap: 0.9375rem; /* 15px ≈ 0.9375rem */
    }
    .logo_navbar {
        position: static;
        transform: none;
        margin-bottom: 0.625rem; /* 10px ≈ 0.625rem */
    }
}